services:
  spark-master:
    build: .
    container_name: spark-master
    hostname: spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    environment:
      - SPARK_MASTER_HOST=spark-master
      - SPARK_MASTER_PORT=7077
      - SPARK_MASTER_WEBUI_PORT=8080
    ports:
      - "7077:7077"   # Spark master
      - "8080:8080"   # Spark master UI
    volumes:
      - ./app:/app
      - ./project_data:/data

  spark-worker:
    build: .
    container_name: spark-worker
    hostname: spark-worker
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    depends_on:
      - spark-master
    environment:
      - SPARK_WORKER_CORES=8
      - SPARK_WORKER_MEMORY=16g
      - SPARK_WORKER_WEBUI_PORT=8081
    ports:
      - "8081:8081"   # Worker UI
    volumes:
      - ./app:/app
      - ./project_data:/data